.headers {
  background-image: url(../assets/placeholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
  height: 810px;
  font-size: 35px;
  color: white;
}

.navs {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

.navs .uls {
  list-style-type: none;
  padding: 0;
}

.articles {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
